.todo-container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgb(0, 0, 0,0.1);
    background-color: #f9f9f9;
    border-radius: 9px;
}

.add-task{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.add-task input{
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.add-task button{
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.task-list{
    list-style-type: none;
    padding: 0;
}

.task-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgb(0, 0, 0,0.1);
}

.task-list button{
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.task-list li.completed span{
    text-decoration: line-through;
    color: #888;
}

.delete-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.delete-buttons button {
    padding: 10px 15px; /* Padding m치s amplio para un mejor tama침o */
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color de texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Transici칩n suave */
}

.delete-buttons button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el rat칩n */
}
